<p class="headline">Către</p>
<p class="headline">AUTORITATEA NAȚIONALĂ DE SUPRAVEGHERE</p>
<p class="headline">A PRELUCRĂRII DATELOR CU CARACTER PERSONAL</p>
<p class="headline">B-dul G-ral Gh. Magheru nr. 28-31 sector 1 București</p>
<p class="headline">anspdcp@dataprotection.ro</p>

<p>
  <v>{{$storage.plaintiff.name || '(nume)'}}</v>
  cu domiciliul/reședința în
  <v>{{$storage.plaintiff.address || '(adresă)'}}</v>
  ,
  <v>{{$storage.plaintiff.telephone || '(telefon)'}}</v>
  ,
  <span ng-if="$storage.plaintiff.email"> <v>{{$storage.plaintiff.email}}</v>,</span>
  în temeiul art. 25 din legea nr. 677/2001 pentru protecția
  persoanelor cu privire la prelucrarea datelor cu caracter personal și
  libera circulație a acestor date, vă aduc la cunoștință următoarele:
</p>


<div ng-if="formType == 'access' " ng-include="'partials/templatesModel/access.html'"></div>
<div ng-if="formType == 'intervention' " ng-include="'partials/templatesModel/intervention.html'"></div>
<div ng-if="formType == 'opposition' " ng-include="'partials/templatesModel/opposition.html'"></div>
<div ng-if="formType == 'others' " ng-include="'partials/templatesModel/others.html'"></div>

<p ng-if="$storage.request.other">
  <v>{{$storage.request.other}}</v>
</p>

<p>
  Anexez copia scrisorii trimise operatorului care face dovada datei
  la care m-am adresat acestuia.
</p>

<p>
  Față de cele de mai sus, vă rog să dispuneți măsurile legale pentru a
  primi informațiile solicitate în baza Legii nr. 677/2001.
</p>

<p ng-if="private">
  Doresc ca demersurile efectuate în legătură cu
  soluționarea acestei plângeri să nu fie făcute publice.
</p>

<p ng-if="$storage.withRepresentative">
  Plângerea este depusă prin reprezentant
  <v>{{$storage.representative.name}}</v>
  cu domiciliul/reședința în
  <v>{{$storage.representative.address}}</v>
  ,
  <v>{{$storage.representative.telephone}}</v>
  ,
  <span ng-if="$storage.representative.email"><v>{{$storage.representative.email}}</v>,</span>
  în calitate de
  <v>{{$storage.representative.role | lowercase }}</v>
</p>

<p>Data:
  <v>{{($storage.date|date: 'd/M/yyyy') || '(data)'}}</v>
</p>

<p>Semnătura:
  <v><i>{{$storage.signature || '(semnătura)'}}</i></v>
</p>