<p>
  <v>{{$storage.operator.name || '(operator)'}}</v>
  , cu sediul în
  <v>{{$storage.operator.address || '(adresă)'}}</v>
  ,
  <span ng-if="storage.operator.email">email <v>{{$storage.operator.email || '(adresă)'}}</v>,</span>
  <span ng-if="$storage.operator.website">site web <v>{{$storage.operator.website || '(adresă)'}}</v>,</span>
  mi-a încălcat <strong>dreptul de intervenție</strong>,
</p>

<p ng-if="$storage.request.interventionViolation == 'fail'">
  întrucât nu mi-a
  <v>{{$storage.request.changetype || '(tipul intervenției)'}}</v>
  datele personale care mă privesc
  și care au fost prelucrate
  <v>{{$storage.request.violation || '(cum?)'}}</v>.
</p>

<p ng-if="$storage.request.interventionViolation == 'notify'">
  întrucât nu a notificat terților
  <v>{{$storage.request.otherParties}}</v>

  cărora a dezvăluit datele mele personale măsurile de

  <v>{{$storage.request.changetype || '(tipul intervenției)'}}</v>

  a acestor date <v>{{$storage.request.dataDescription}}</v>
</p>

<p ng-if="$storage.request.interventionViolation == 'answer'">
  întrucât nu mi-a răspuns în termenul de 15 zile prevăzut la art. 14 alin. (3) din Legea nr. 677/2001.
</p>
