<p>
  <v>{{$storage.operator.name || '(operator)'}}</v>
  , cu sediul în
  <v>{{$storage.operator.address || '(adresă)'}}</v>
  ,
  <span ng-if="storage.operator.email">email <v>{{$storage.operator.email || '(adresă)'}}</v>,</span>
  <span ng-if="$storage.operator.website">site web <v>{{$storage.operator.website || '(adresă)'}}</v>,</span>

  a <strong>prelucrat ilegal</strong>, datele mele personale <span><strong>se enumeră datele respective</strong></span>,
  în următoarele împrejurări:
  <span><strong>Se descrie situația considerată de petent ca fiind o încălcare a Legii nr. 677/2001</strong></span>
</p>
<p>
  Declar pe proprie răspundere că obiectul prezentei plângeri nu face obiectul unei acțiuni în justiție.
</p>
<p>
  Precizez că m-am adresat în prealabil operatorului cu scrisoarea din data de <span><strong>DATA
  SCRISOARE</strong></span>,
  însă nu am primit un răspuns/răspunsul primit nu îl consider satisfăcător din următoarele motive:
  <span><strong>Se alege varianta corespunzătoare</strong></span>
</p>
<p>
  <strong>Trebuie să avem mențiune de atașare copie după răspuns, nu doar scrisoare !!</strong>
</p>
