<h3 role="presentation"><a href="#operator-petent" role="tab" data-toggle="tab">1. Petent și operator</a></h3>
<!-- Zona identificare petent -->
<div class="form-group">
  
  <input id="form-plaintiff.name" type="text" class="form-control" ng-model="$storage.plaintiff.name" placeholder="Numele și prenumele tău:" required>
</div>

<div class="form-group">
  
  <input id="form-plaintiff.name" type="text" class="form-control" ng-model="$storage.operator.name" placeholder="Nume operator:" required>
</div>

<div class="form-group">
  
  
  <input id="form-plaintiff.uniqueid" type="text" class="form-control" ng-model="$storage.plaintiff.uniqueid" placeholder="Identificator unic:" required>
  <small>Un identificator unic in relatia cu operatorul: adresa de e-mail, id de utilizator, numar de contract, cod client, etc.</small>
</div>

<div class="form-group">
  
  <input id="form-plaintiff.email" type="email" class="form-control" ng-model="$storage.plaintiff.email" required placeholder="E-mail:">
</div>

<!--
<p>
  <a href="#operator-cerere" class="forward" ng-click="goForward($event)">
    pasul următor
    <i class="fa fa-forward"></i>
  </a>
</p>-->
