<div class="form-group">
  <label>Cum doriti sa fie comunicat raspunsul?</label>
  <select ng-model="$storage.responseType" class="form-control">
    <option value="email">E-mail</option>
    <option value="post">Adresa Postala</option>
    <option value="courier">Curier cu livrare personala</option>
  </select>
</div>

<div class="form-group" ng-show="$storage.responseType == 'post' || $storage.responseType == 'courier'">
  <label>Adresa de corespondenta</label>
  <input type="text" class="form-control" ng-model="$storage.plaintiff.address">
</div>

<div class="form-group">
  <label>Data prezentei cereri:
  <quick-datepicker id="form-date" ng-model='$storage.date' placeholder='Alegeți o dată' disable-timepicker='true' required class="form-control">
  </quick-datepicker>
  </label>
</div>

<div class="form-group">
  <label for="form-signature">Semnătură (introduceți nume și prenume):</label>
  <input id="form-signature" type="text" class="form-control" ng-model="$storage.plaintiff.name" ng-readonly="true">
</div>

<p>
  <strong>Nu uita să depui și anexele, inclusiv copia după
  cererea către operator!</strong>
</p>

<div class="form-group">
 <button type="submit" class="btn btn-primary">
   <i class="fa fa-download"></i>
   Download PDF
 </button>
</div>
