<!DOCTYPE html>
<html ng-app="dataProtection">
<head>
  <meta charset="UTF-8">
  <title>Privacy complaint</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
<div class="container">
  <p>Privacy complaint</p>

  <div ng-controller="DataProtectionFormController">
    <form novalidate>
      Name: <input type="text" ng-model="user.name"/><br/>
      E-mail: <input type="email" ng-model="user.email"/><br/>
      Gender: <input type="radio" ng-model="user.gender" value="male"/>male
      <input type="radio" ng-model="user.gender" value="female"/>female<br/>
      <button ng-click="reset()">RESET</button>
      <button ng-click="update(user)">SAVE</button>
    </form>

    <div id="preview">
      <div id="document">
        <p>
          {{plaintiff.name || '(nume)'}} cu domiciliul/reședința în
          {{plaintiff.address || '(adresă)'}},
          {{plaintiff.telephone || '(telefon)'}},
          <span ng-if="plaintiff.email"> {{plaintiff.email}},</span>
          în temeiul art. 25 din legea nr. 677/2001 pentru protecția
          persoanelor cu privire la prelucrarea datelor cu caracter personal și
          libera circulație a acestor date, vă aduc la cunoștință următoarele:
        </p>

        <p>
          {{operator || '(operator)'}}, cu sediul în
          {{operator_address || '(adresă)'}} mi-a încălcat dreptul
          de acces, întrucât

          <span ng-if="request.hasanswer">
            nu mi-a furnizat următoarele informații pe care i le-am solicitat
            prin scrisoarea din data de {{request.date || '(dată)'}}:
            {{request.details || '(detalii)'}}
            pe care operatorul nu le-a comunicat petentului.
          </span>

          <span ng-if="! request.hasanswer">
            nu mi-a furnizat informațiile pe care i le-am solicitat prin
            scrisoarea din data de {{request.date || '(dată)'}}:
            {{request.details || '(detalii)'}}, în termenul de 15
            zile prevăzute de art. 13 (3) din Legea nr. 677/2001.
          </span>
        </p>

        <p ng-if="other_reasons">{{other_reasons}}</p>

        <p>
          Anexez copia scrisorii trimise operatorului care face dovada datei
          la care m-am adresat acestuia.
        </p>

        <p>
          Față de cele de mai sus, vă rog să dispuneți măsurile legale pentru a
          primi informațiile solicitate în baza Legii nr. 677/2001.
        </p>

        <p ng-if="private">
          Doresc ca demersurile efectuate în legătură cu
          soluționarea acestei plângeri să nu fie făcute publice.
        </p>

        <p ng-if="representative">
          Plângerea este depusă prin reprezentant {{representative}}.
          {{representative.name}} cu domiciliul/reședința în
          {{representative.address}}, {{representative.telephone}},
          <span ng-if="representative.email">{{representative.email}},</span>
          în calitate de {{representative.role}}
        </p>

        <p>Data</p>

        <p>Semnătura</p>
      </div>

      <button id="download-pdf" class="btn btn-primary">
        <i class="fa fa-download"></i>
        Download PDF
      </button>
    </div>
  </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script src="app.js"></script>
</body>
</html>
