<!DOCTYPE html>
<html ng-app="dataProtection">
<head>
  <meta charset="UTF-8">
  <title>Privacy complaint</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
<div class="container">
  <h1>Privacy complaint</h1>

  <div class="row" ng-controller="DataProtectionFormController">

    <div class="col-md-4">

      <form novalidate>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="raspunsNesatisfacator">
            Am trimis cerere la operator și nu am primit răspuns în 15 zile/am primit răspuns nesatisfăcător
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="cerereTrimisaLaOperator">
            Nu am depus o cerere în instanță
          </label>
        </div>

        <div ng-show="raspunsNesatisfacator && cerereTrimisaLaOperator">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#petent" role="tab" data-toggle="tab">Petent</a></li>
            <li role="presentation"><a href="#operator" role="tab" data-toggle="tab">Operator</a></li>
            <li role="presentation"><a href="#cerere" role="tab" data-toggle="tab">Cerere</a></li>
            <li role="presentation"><a href="#reprezentant" role="tab" data-toggle="tab">Reprezentant</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="petent">

              <!-- Zona identificare petent -->
              <div class="form-group">
                <label for="form-plaintiff.name">Nume:</label>
                <input id="form-plaintiff.name" type="text" class="form-control" ng-model="plaintiff.name" required>
              </div>

              <div class="form-group">
                <label for="form-plaintiff.address">Domiciliu:</label>
                <input id="form-plaintiff.address" type="text" class="form-control" ng-model="plaintiff.address" required>
              </div>

              <div class="form-group">
                <label for="form-plaintiff.telephone">Telefon:</label>
                <input id="form-plaintiff.telephone" type="text" class="form-control" ng-model="plaintiff.telephone" required placeholder="0742xxxxxxxx">
              </div>

              <div class="form-group">
                <label for="form-plaintiff.email">E-mail:</label>
                <input id="form-plaintiff.email" type="email" class="form-control" ng-model="plaintiff.email">
              </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="operator">

              <!-- Zona de identificare a operatorului -->
              <div class="form-group">
                <label for="form-operator.name">Numele operatorului/companie:</label>
                <input id="form-operator.name" type="text" required class="form-control" ng-model="operator.name">
              </div>

              <div class="form-group">
                <label for="form-operator.address">Sediu:</label>
                <input id="form-operator.address" type="text" required class="form-control" ng-model="operator.address">
              </div>

              <div class="form-group">
                <label for="form-operator.email">E-mail:</label>
                <input id="form-operator.email" type="email" class="form-control" ng-model="operator.email">
              </div>

              <div class="form-group">
                <label for="form-operator.website">Site:</label>
                <input id="form-operator.website" type="text" class="form-control" ng-model="operator.website">
              </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="cerere">

              <!-- Zona identificare cerere -->
              <div class="form-group">
                <label for="form-request.date">Data cerere anterioară:</label>
                <input id="form-request.date" type="date" required class="form-control" ng-model="request.date">
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="request.hasanswer">
                  Sunt nemulțumit de cererea anterioară
                </label>
              </div>

              <div class="form-group">
                <label for="form-request.details">Detalii cerere:</label>
                <textarea id="form-request.details" rows="5" required class="form-control" ng-model="request.details"></textarea>
              </div>

              <div class="form-group">
                <label for="form-request.other">Alte motive:</label>
                <textarea id="form-request.other" rows="5" class="form-control" ng-model="request.other"></textarea>
              </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="reprezentant">

              <!-- Zona de identificare a reprezentanntului, dacă se aplică -->
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="withRepresentative">
                  Se depune prin reprezentant (offline)
                </label>
              </div>

              <div ng-show="withRepresentative">
                <div class="form-group">
                  <label for="form-representative.name">Nume:</label>
                  <input id="form-representative.name" type="text" class="form-control" ng-model="representative.name">
                </div>

                <div class="form-group">
                  <label for="form-representative.address">Address:</label>
                  <input id="form-representative.address" type="text" class="form-control" ng-model="representative.address">
                </div>

                <div class="form-group">
                  <label for="form-representative.telephone">Telefon:</label>
                  <input id="form-representative.telephone" type="text" class="form-control" ng-model="representative.telephone">
                </div>

                <div class="form-group">
                  <label for="form-representative.email">Email:</label>
                  <input id="form-representative.email" type="email" class="form-control" ng-model="representative.email">
                </div>

                <div class="form-group">
                  <label for="form-representative.role">In calitate de:</label>
                  <input id="form-representative.role" type="text" class="form-control" ng-model="representative.role">
                </div>

              </div>

            </div>
          </div>

          <button class="btn btn-default" ng-click="reset()">Reset</button>
        </div>
      </form>
    </div>

    <div id="preview" class="col-md-8">
      <div id="document">
        <p>
          <v>{{plaintiff.name || '(nume)'}}</v> cu domiciliul/reședința în
          <v>{{plaintiff.address || '(adresă)'}}</v>,
          <v>{{plaintiff.telephone || '(telefon)'}}</v>,
          <span ng-if="plaintiff.email"> <v>{{plaintiff.email}}</v>,</span>
          în temeiul art. 25 din legea nr. 677/2001 pentru protecția
          persoanelor cu privire la prelucrarea datelor cu caracter personal și
          libera circulație a acestor date, vă aduc la cunoștință următoarele:
        </p>

        <p>
          <v>{{operator.name || '(operator)'}}</v>, cu sediul în
          <v>{{operator.address || '(adresă)'}}</v> mi-a încălcat dreptul
          de acces, întrucât

          <span ng-if="request.hasanswer">
            nu mi-a furnizat următoarele informații pe care i le-am solicitat
            prin scrisoarea din data de
            <v>{{(request.date|date: 'd/M/yyyy') || '(data)'}}</v>:
            <v>{{request.details || '(detalii)'}}</v>
            pe care operatorul nu le-a comunicat petentului.
          </span>

          <span ng-if="! request.hasanswer">
            nu mi-a furnizat informațiile pe care i le-am solicitat prin
            scrisoarea din data de
            <v>{{(request.date|date: 'd/M/yyyy') || '(data)'}}</v>:
            <v>{{request.details || '(detalii)'}}</v>, în termenul de 15
            zile prevăzute de art. 13 (3) din Legea nr. 677/2001.
          </span>
        </p>

        <p ng-if="request.other"><v>{{request.other}}</v></p>

        <p>
          Anexez copia scrisorii trimise operatorului care face dovada datei
          la care m-am adresat acestuia.
        </p>

        <p>
          Față de cele de mai sus, vă rog să dispuneți măsurile legale pentru a
          primi informațiile solicitate în baza Legii nr. 677/2001.
        </p>

        <p ng-if="private">
          Doresc ca demersurile efectuate în legătură cu
          soluționarea acestei plângeri să nu fie făcute publice.
        </p>

        <p ng-if="withRepresentative">
          Plângerea este depusă prin reprezentant
          <v>{{representative.name}}</v> cu domiciliul/reședința în
          <v>{{representative.address}}</v>,
          <v>{{representative.telephone}}</v>,
          <span ng-if="representative.email"><v>{{representative.email}}</v>,</span>
          în calitate de <v>{{representative.role | lowercase }}</v>
        </p>

        <p>Data</p>

        <p>Semnătura</p>
      </div>

      <button id="download-pdf" class="btn btn-primary">
        <i class="fa fa-download"></i>
        Download PDF
      </button>
    </div>
  </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
<script src="app.js"></script>
</body>
</html>
