<p>
  <v>{{$storage.operator.name || '(operator)'}}</v>
  , cu sediul în
  <v>{{$storage.operator.address || '(adresă)'}}</v>
  ,
  <span ng-if="storage.operator.email">email <v>{{$storage.operator.email || '(adresă)'}}</v>,</span>
  <span ng-if="$storage.operator.website">site web <v>{{$storage.operator.website || '(adresă)'}}</v>,</span>

  mi-a încălcat <strong>dreptul la opziție</strong>,
</p>

<p ng-if="$storage.request.oppositionViolation == 'stop'">
  <span>
  întrucât nu a încetat prelucrarea datelor mele personale
  <v>{{$storage.request.dataDescription || '(descriere date)'}}</v>
  în următorul fel:
  <v>{{$storage.request.objection || '(motive de nemulțumire)'}}</v>
</p>

<p ng-if="$storage.request.oppositionViolation == 'answer'">
  nu mi-a răspuns în termen de 15 zile prevăzut de art. 15 alin. (3)
  din Legea nr. 677/2001.
</p>
