<h3 role="presentation"><a href="#cerere" role="tab" data-toggle="tab">3. Cerere</a></h3>
<!-- Zona identificare cerere -->
<div class="form-group">
  <!--<label for="form-request.dataDescription">Enumerare date</label>-->
  <textarea id="form-request.dataDescription" rows="5" class="form-control" ng-model="$storage.request.dataDescription" placeholder="Enumerare date"></textarea>
</div>

<div class="form-group">
  <!--<label for="form-request.story">Descrierea situației</label>-->
  <textarea id="form-request.story" rows="5" class="form-control" ng-model="$storage.request.story" placeholder="Descrierea situației"></textarea>
</div>


<div class="form-group date">
	<p>Dată cerere către operator:</p>
	<label>
		<quick-datepicker ng-model='$storage.request.date' placeholder='Alegeți o dată' disable-timepicker='true' required class="form-control">
		</quick-datepicker>
	</label>
</div>

<div class="form-group">
  <!--<label for="form-request.objection">Motive de nemulțumire</label>-->
  <textarea id="form-request.objection" rows="5" class="form-control" ng-model="$storage.request.objection" placeholder="Motive de nemulțumire"></textarea>
</div>
<!--
<p>
  <a href="#finaize" class="forward" ng-click="goForward($event)">
    pasul următor
    <i class="fa fa-forward"></i>
  </a>
</p>-->
