<h3 role="presentation"><a href="#cerere" role="tab" data-toggle="tab">3. Cerere</a></h3>
<!-- Zona identificare cerere -->
<div class="radio">
  <label>
    <input type="radio" name="request.hasanswer" ng-model="$storage.request.interventionViolation" ng-value="'fail'">
    Nu a rectificat/actualizat/blocat/șters/transformat datele
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="request.hasanswer" ng-model="$storage.request.interventionViolation" ng-value="'notify'">
    Nu a notificat terților măsurile de intervenție asupra datelor
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="request.hasanswer" ng-model="$storage.request.interventionViolation" ng-value="'answer'">
    Nu a răspuns în termen de 15 zile
  </label>
</div>

<label for="form-request.changetype"><p>Datele nu au fost</p></label>
<div class="select-style">
	<select id="form-request.changetype" name="request.changetype" ng-model="$storage.request.changetype">
	  <option value="rectificat">rectificate</option>
	  <option value="actualizat">actualizate</option>
	  <option value="blocat">blocate</option>
	  <option value="șters">șterse</option>
	  <option value="transformat în date anonime">transformate în date anonime</option>
	</select>
</div>

<div class="form-group" ng-if="$storage.request.interventionViolation == 'fail'">
  <label for="form-request.violation">Datele au fost prelucrate</label>
  <div class="select-style">
	  <select id="form-request.violation" name="request.violation" ng-model="$storage.request.violation">
		<option>ilegal</option>
		<option>incomplet</option>
		<option>inexact</option>
	  </select>
  </div>
</div>

<div class="form-group" ng-if="$storage.request.interventionViolation == 'notify'">
  <textarea id="form-request.otherParties" rows="5" class="form-control" ng-model="$storage.request.otherParties" placeholder="Numele terților"></textarea>
</div>

<div class="form-group" ng-if="$storage.request.interventionViolation == 'answer'">
  <textarea id="form-request.dataDescription" rows="5" class="form-control" ng-model="$storage.request.dataDescription" placeholder="Datele în cauză (opțional)"></textarea>
</div>
