<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="$storage.raspunsNesatisfacator">
    Confirm că am trimis cerere către cel care mi-a colectat datele personale și nu am primit răspuns în 15 zile/am primit răspuns nesatisfăcător
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="$storage.cerereTrimisaLaOperator">
    Confirm că nu am depus o cerere în instanță în acest caz
  </label>

  <span class="help-block">
   Bifarea acestor 2 opțiuni este obligatorie dacă vreți să depuneți o cerere admisibilă
  </span>
</div>

<div ng-show="$storage.raspunsNesatisfacator && $storage.cerereTrimisaLaOperator">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="petent" ng-include="'partials/formModel/form-1-plaintiff.html'"></div>
    <div role="tabpanel" class="tab-pane" id="operator" ng-include="'partials/formModel/form-2-operator.html'"></div>
    <div role="tabpanel" class="tab-pane" id="cerere" ng-include="'partials/formModel/form-3-complaint-access.html'" ng-if="formType == 'access'"></div>
    <div role="tabpanel" class="tab-pane" id="cerere" ng-include="'partials/formModel/form-3-complaint-intervention.html'" ng-if="formType == 'intervention'"></div>
    <div role="tabpanel" class="tab-pane" id="cerere" ng-include="'partials/formModel/form-3-complaint-opposition.html'" ng-if="formType == 'opposition'"></div>
    <div role="tabpanel" class="tab-pane" id="cerere" ng-include="'partials/formModel/form-3-complaint-others.html'" ng-if="formType == 'others'"></div>
    <div role="tabpanel" class="tab-pane" id="finaize" ng-include="'partials/formModel/form-4-final.html'"></div>
  </div>
</div>
