<p>
  În baza art. 15 din Legea 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal și libera circulație a acestor date, solicit dreptul de opoziție, respectiv de a mă opune prelucării datelor mele personale
  <span ng-show="$storage.request.oppositionViolation != 'marketing'"><v>{{ $storage.request.objection || '(întrucât descriîntrucât erea motivelor întemeiate și legitime pentru care se dorește opunerea)' }}</v></span>
  <span ng-show="$storage.request.oppositionViolation == 'marketing'"><v>în scop de marketing direct, în numele operatorului sau al unui terț, sau să fie dezvăluite unor terți într-un asemenea scop.</v></span>
</p>


